
<head>
    <link href="https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css" rel="stylesheet" SameSite='Strict' />
    <link rel="stylesheet" type="text/css" href="~/css/details.css" />
</head>

<div class="container">
    <a class="btn btn-outline-success" asp-action="Index"><i class="fa-solid fa-arrow-left"></i> Back</a>
    <h1 class="mb-5">Details for @Model.Name</h1>
    <div class="row gutters-sm mb-3">
        <div class="col-md-4 mb-3">
            <div class="card p-4">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <img src="~/pictures/gamenight.png" alt="gamenight picture">
                        <div class="mt-4 w-100">
                            <h4>@Model.Name</h4>
                            <p class="text-secondary">@Model.DateTime</p>
                            @if (@ViewBag.PersonId == @Model.OrganiserId)
                            {
                                    <a class="btn btn-warning mr-3" asp-controller="gamenight" asp-action="EditGameNight" asp-route-id="@Model.Id"><i class='fa-solid fa-pencil'></i> Edit</a>
                                    <a class="btn btn-danger" asp-controller="gamenight" asp-action="DeleteGameNight" asp-route-id="@Model.Id"><i class="fa-solid fa-trash"></i> Delete </a>
                            }
                            else
                            {     
                                    <a class="btn btn-success mr-3" asp-controller="gamenight" asp-action="JoinGameNight"><i class="fa-solid fa-plus"></i> Join </a>
                                    <a class="btn btn-danger" asp-controller="gamenight" asp-action="LeaveGameNight"><i class="fa-solid fa-minus"></i> Leave </a>
                             }
                         </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card p-4">
                <div class="card-body py-2">
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0 ">Organiser</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                               @Model.Organiser.Name
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0 ">Average score</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            @if (ViewBag.AverageScore == 0)
                            {
                                <span>No reviews yet</span>
                            }
                            @if (@ViewBag.AverageScore == 1)
                            {
                                <i class="fa-solid fa-star"></i>
                            }
                            @if (@ViewBag.AverageScore == 2)
                            {
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            }
                            @if (@ViewBag.AverageScore == 3)
                            {
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            }
                            @if (@ViewBag.AverageScore == 4)
                            {
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            }
                            @if (@ViewBag.AverageScore == 5)
                            {
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            }
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0 ">Address</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            @Model.Address.ToString()
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0 ">Players</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            @Model.Players.Count
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0 ">Maximum players</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            @Model.MaxPlayers
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0 ">Games</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            @foreach (var game in Model.Games)
                            {
                                <a asp-controller="Game" asp-action="GameDetails" asp-route-id="@game.Id" class="btn btn-success">
                                    <i class="fa-regular fa-circle-info"></i> @game.Name
                                </a>
                            }
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0 ">Adults / family</h6>
                        </div>

                        @if (Model.AdultsOnly == true)
                        {
                            <div class="col-sm-9 text-secondary">Adults</div>
                        }
                        else
                        {
                            <div class="col-sm-9 text-secondary">Family friendly</div>
                        }


                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0 ">Diet</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            @if (@Model.Vegan)
                            {
                                <i class="fa-solid fa-meat"></i>
                            }
                            @if (@Model.LactoseIntolerant)
                            {
                                <i class="fa-solid fa-cow"></i>
                            }
                            @if (@Model.AlcoholFree)
                            {
                                <i class="fa-solid fa-martini-glass-citrus"></i>
                            }
                            @if (@Model.NutAllergy)
                            {
                                <i class="fa-regular fa-peanuts"></i>
                            }
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0 ">Review</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <a asp-controller="Review" asp-action="CreateReview" class="btn btn-success">
                                <i class="fa-solid fa-star-sharp-half-stroke"></i> Review
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>