
<head>
    <link href="https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css" rel="stylesheet" SameSite='Strict' />
    <link rel="stylesheet" type="text/css" href="~/css/detail.css" />
</head>

<div class="container">
    <a class="btn btn-outline-success" asp-action="Index"><i class="fa-solid fa-arrow-left"></i> Back</a>
    <h1 class="mb-5">Details for @Model.Name</h1>
    <div class="row gutters-sm mb-3">
        <div class="col-md-4 mb-3">
            <div class="card p-4">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <img src="~/pictures/gamenight.jpg" alt="gamenight picture" class="rounded" width="100%">
                        <div class="mt-4">
                            <h4>@Model.Name</h4>
                            <p class="text-secondary">@Model.DateTime</p>
                            @if (@ViewBag.PersonId == @Model.OrganiserId)
                            {
                                    <div class="d-flex flex-row">
                                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id"><i class='fa-solid fa-pencil'></i> Edit</a>
                                        <a class="btn btn-danger" asp-controller="gamenight" asp-action="Delete" asp-route-id="@Model.Id"><i class="fa-solid fa-trash"></i> Delete </a>
                                    </div>
                            }
                            else
                            {
                                <a class="btn btn-success" asp-controller="gamenight" asp-action="JoinGameNight"><i class="fa-solid fa-plus"></i> Join </a>
                                <a class="btn btn-danger" asp-controller="gamenight" asp-action="LeaveGameNight"><i class="fa-solid fa-minus"></i> Leave </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card p-4">
                <div class="card-body py-2">
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0 ">Organiser</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            @Model.Organiser.Name
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0 ">Address</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            @Model.Address.StreetName @Model.Address.HouseNumber , @Model.Address.City
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0 ">Players</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            @foreach (var player in Model.Players)
                            {
                                @player.Name 
                            }
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0 ">Maximum players</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            @Model.MaxPlayers
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0 ">Games</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            @foreach (var game in Model.Games)
                            {
                                <a asp-controller="Game" asp-action="GameDetails" asp-route-id="@game.Id" class="btn btn-success">
                                    <i class="fa-regular fa-circle-info"></i> @game.Name
                                </a>
                            }
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0 ">Adults / family</h6>
                        </div>

                        @if (Model.AdultsOnly == true)
                        {
                            <div class="col-sm-9 text-secondary">Adults</div>
                        }
                        else
                        {
                            <div class="col-sm-9 text-secondary">Family friendly</div>
                        }


                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0 ">Food allergies</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            @if (@Model.Vegan) {
                                <span>Vegan</span>
                            }
                            @if (@Model.LactoseIntolerant)
                            {
                                <span>Lactose intolerant</span>
                            }
                            @if (@Model.AlcoholFree)
                            {
                                    <span>AlcoholFree</span>
                            }
                            @if (@Model.NutAllergy)
                            {
                                <span>Nut allergy</span>
                            }
                        </div>
                    </div>
                    </div>
            </div>
        </div>
    </div>
</div>